@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f2f4f8;
}

details > summary .arrow {
  transform: rotate(180deg);
}

details:open > summary .arrow {
  transform: rotate(0deg);
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }

  .font-raleway {
    font-family: "Raleway", sans-serif;
  }

  .bg-primary {
    background-color: #73bf43;
  }

  .text-accent {
    color: #73bf43;
  }

  .text-hover-link:hover {
    color: #73bf43;
    text-decoration: underline;
  }

  .grid-auto-cols {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
  }
}

@layer components {
  .container {
    @apply max-w-[1280px] w-full mx-auto;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #73bf43;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    color: white;
  }

  .checkbox-label {
    @apply py-2 px-1.5 rounded flex items-center gap-3 hover:bg-gray-200;
  }

  .filter-checkbox {
    @apply appearance-none h-4 w-4 rounded border border-black checked:bg-gray-400 checked:bg-[url('./images/ri-check-fill.svg')] bg-center bg-cover checked:border-gray-400;
  }

  .slider {
    height: 5px;
    position: relative;
    background-color: #e5e7eb;
    border-radius: 5px;
  }

  .progress {
    height: 5px;
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: #73bf43;
    border-radius: 5px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }

  .range-input {
    position: relative;
  }

  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    pointer-events: none;
    background-color: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: auto;
    height: 16px;
    width: 16px;
    border: 3px solid white;
    outline: 1px solid #73bf43;
    border-radius: 50%;
    background-color: #73bf43;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    pointer-events: auto;
    height: 16px;
    width: 16px;
    border: 3px solid white;
    outline: 1px solid #73bf43;
    border-radius: 50%;
    background-color: #73bf43;
  }

  /* Number Field */
  .min-input,
  .max-input {
    @apply w-20 outline outline-gray-300 py-1 px-2 rounded text-sm text-center;
  }
}
